/ckb-contracts/Cargo.lock
/ckb-contracts/build/*
/ckb-contracts/dependencies/*
/zkp-toolkit/Cargo.lock
/zkp-toolkit/cli/proof_files
/zkp-toolkit//cli/setup_files
/bench-tests/Cargo.lock
**/target/*
Cargo.lock
!.gitkeep
.cache/.cargo/*
.cargo/config
.DS_Store
.vscode/
